<configuration>

	<property name="zookeeper.console.threshold" value="INFO" />
	<property name="zookeeper.log.dir" value="/logs" />
	<property name="zookeeper.log.file" value="zookeeper.log" />
	<property name="zookeeper.log.threshold" value="INFO" />
	<property name="zookeeper.log.maxfilesize" value="256MB" />
	<property name="zookeeper.log.maxbackupindex" value="20" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>level=%level|timestamp=%d{yyyy-MM-dd'T'HH:mm:ss.SSS}|logger=%logger{0}|message=%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${zookeeper.console.threshold}</level>
		</filter>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
